.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 5%;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-label {
  font-size: 1rem;
  color: var(--primary-color-dark);
  font-weight: bold;
}

.form-input {
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color-dark);
  font-size: 1rem;
}
.login-container {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary-color-dark);
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
.login-section {
  display: flex;
  width: 30%;
  margin: 2px auto;
  justify-content: center;
  align-items: center;
}
.login-section {
  display: flex;
  flex-direction: column;
}
.login-title {
  color: var(--primary-color);
  align-self: flex-start;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
